@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
    margin: 0 auto;
    max-width: auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgb(255, 177, 88);
}
main h1,
h2,
h3,
h4,
strong {
    color: rgb(255, 122, 45);
    opacity: 1;
}

.links {
    padding: 2vw 2px;
    text-align: left;
}

main a:visited {
    color: orangered;
}

.hero {
    background-color: #2e253d;
    background-image: url('img/img.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 3em;
    height: 40vw;
}

.hero2 {
    text-align: center;
}
.top-link {
    border: 1px solid #8c1ce8;
    border-radius: 290486px;
    color: rgb(0, 0, 0);
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
    background: #cb93ff;
    opacity: 0.8;
    width: 10vw;
}

.top-link:hover {
    border: 2px solid purple;

    background: orangered;
    color: white;
    opacity: 1;
}

.content {
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.content2 {
    margin: 0em;
    padding: 0em;
}
